/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
/* body * {
  outline: 1px solid red;
} */

body {
  font-family: "Open Sans", sans-serif;
  color: #313030;
}

a {
  color: #29176e;
  text-decoration: none;
}

a:hover {
  color: #f0ce54;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.text-underline {
  text-decoration: underline;
}

.required {
  color: red;
}

.more-btn {
  background: #7d757540;
  padding: 6px 30px 8px 30px;
  color: #29176e;
  border-radius: 50px;
  transition: all ease-in-out 0.4s;
}

.more-btn i {
  font-size: 14px;
}

.more-btn:hover {
  color: #e6e6e6;
  background: #29176e;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #29176e;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #dbaf10;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #262626;
  font-size: 14px;
  padding: 0;
  color: rgba(255, 255, 255, 0.8);
  height: 40px;
}
#topbar .contact-info i {
  font-style: normal;
  color: #d9ae0d;
}
#topbar .contact-info i a, #topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}
#topbar .cta a {
  color: #fff;
  background: #d9ae0d;
  padding: 10px 20px;
  display: inline-block;
  transition: 0.3s;
}
#topbar .cta a:hover {
  background: #f0ce54;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 70px;
  transition: all 0.5s;
  z-index: 997;
  background: #fff;
}
#header.header-fixed {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
#header .logo h1 {
  font-size: 28px;
  margin: 0;
  line-height: 0;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
#header .logo h1 a, #header .logo h1 a:hover {
  color: #635551;
  text-decoration: none;
}
#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 60px; 
  border-radius: 1px;
}

.scrolled-offset {
  margin-top: 70px;
}

#main {
  z-index: 3;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #635551;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #29176e;
}
.navbar .getstarted, .navbar .getstarted:focus {
  background: #29176e;
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 4px;
  color: #fff;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: #ff6b3b;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #29176e;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #473d3a;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(43, 37, 35, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #473d3a;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #29176e;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #29176e;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.heroSwiper .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: contrast(0.5);
}

.banner-wrap {
  display: block;
  position: relative;
  height: 605px;
  max-height: 95vh;
  width: 100%;
  background: #f1f1f1;
  overflow: hidden;
}

.banner-wrap .content {
  max-width: 1500px; 
  width: 90%;
  height: 100%;
}

.banner-wrap .inner {
  height: 100%; 
  position: absolute;
  right: 0; 
  width: 100%;
}

.banner-wrap .text-content {
  position: absolute; 
  left: 30%; 
  max-width: 700px; 
  transform: translate(-50%, -180%); 
  text-align:left;
}

.banner-wrap .text-content h3{
  color:white;
  text-shadow: 1px 1px 1px black;
}

.banner-wrap .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  display: inline-block;
  transition: 0.5s;
  margin-left: -10px;
  padding: 8px 26px 8px 26px;
  color: #fff;
  background: #29176e;
  border-radius: 25px 25px 25px 25px;
  position: relative;
  z-index: 4;
}

.heroSwiper .swiper-wrapper .swiper-slide #harvard-img {
  width: 40% !important;
  filter: none !important;
}
/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #29176e26;
}

.section-title {
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  padding-bottom: 0;
  font-family: "Poppins", sans-serif;
  color: #635551;
}
.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f4f2f2;
  margin-bottom: 40px;
  margin-top: 25px;
}
.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #635551;
  content: "/";
}

/*--------------------------------------------------------------
# Home page content
--------------------------------------------------------------*/
.what-we-offer .content {
  padding: 30px;
  background: #29176e;
  border-radius: 4px;
  color: #fff;
}
.what-we-offer .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}
.what-we-offer .content p {
  margin-bottom: 30px;
}
/* .what-we-offer .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
} */
.what-we-offer .icon-box img {
  width: 100%;
  margin-bottom: 15px;
  min-height: auto;
}
.what-we-offer .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}
.what-we-offer .icon-box p {
  font-size: 15px;
  color: #716f6f;
}
.heroSwiper .banner-wrap .play-btn {
  width: 100px;
  height: 100px;
  background: radial-gradient(#29176e 50%, rgb(41 23 110 / 18%) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}
.heroSwiper .banner-wrap .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.18, 0.89, 0.32, 1.28)
}
.heroSwiper .banner-wrap .play-btn::before {
  content: "";
  position: absolute;
  width: 131px;
  height: 131px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgb(41 23 110 / 52%);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}
.heroSwiper .banner-wrap .play-btn:hover::after {
  border-left: 15px solid #29176e;
  transform: scale(20);
}
.heroSwiper .banner-wrap .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0; 
}
.testimonials {
  padding: 80px 0;
  background: url("../img/testimonials-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.testimonials .section-header {
  margin-bottom: 40px;
}
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  text-align: center;
  color: #fff;
}
.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}
.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #eee;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #29176e;
}




.custom-btn {
  color: white;
  border: 1px solid #0d6efd; 
  background-color: #0d6efd;
  display: inline-block;
  font-weight: 800;
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  padding: 0.5rem 5rem;
}






@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .icon-boxes h4 {
  font-size: 18px;
  color: #7f6d68;
  margin-bottom: 15px;
}
.about .icon-boxes h3 {
  font-size: 28px;
  font-weight: 700;
  color: #554945;
  margin-bottom: 15px;
}
.about .icon-box {
  margin-top: 40px;
}
.about .icon-box .icon {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: 2px solid #28176e6c;
  border-radius: 50px;
  transition: 0.5s;
  background: #fff;
}
.about .icon-box .icon i {
  color: #29176e;
  font-size: 32px;
}
.about .icon-box:hover .icon {
  background: #29176e;
  border-color: #29176e;
}
.about .icon-box:hover .icon i {
  color: #fff;
}
.about .icon-box .title {
  margin-left: 85px;
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
.about .icon-box .title {
  color: #554945;
}
.about .icon-box .description {
  margin-left: 85px;
  line-height: 24px;
  font-size: 14px;
}
.about .video-box {
  background: url("../img/hero/hero-1.jpg") center center no-repeat;
  background-size: cover;
  min-height: 500px;
  filter: contrast(0.7)
}
.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#29176e 50%, rgba(255, 88, 33, 0.185) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}
.about .play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.about .play-btn::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(255, 88, 33, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}
.about .play-btn:hover::after {
  border-left: 15px solid #29176e;
  transform: scale(20);
}
.about .play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# History and Team
--------------------------------------------------------------*/
.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .member-info {
  padding: 25px 15px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #473d3a;
}
.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #989595;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #656262;
}

.team .icon-boxes .icon-box {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 20px 15px rgb(0 0 0/ 10%);
  padding: 30px 80px;
  width: 100%;
}

/*--------------------------------------------------------------
# Careers
--------------------------------------------------------------*/
.careers .info-box {
  padding: 20px;
  box-shadow: 0 0 30px rgb(214 215 216 / 60%);
}
.careers .info-box i {
  font-size: 32px;
  color: #29176e;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #ffded4;
  float: left;
}
.careers .info-box:hover i {
  color: #fff;
}
.careers .info-box:hover i {
  background: #29176e;
  border-color: #29176e;
}
.careers .info-box h5 {
  font-size: 20px;
  color: #656262;
  font-weight: 700;
  margin: 10px 0 10px 68px;
}
.get-started-icon {
  font-size: 25px;
  background: #29176e;
  padding: 14px;
  color: #fff;
  border-radius: 50px;
  position: relative;
  z-index: 5;
  box-shadow: 10px 2px 15px rgba(0, 0, 0, 0.1);
}
.btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  transition: 0.5s;
  margin-left: -10px;
  padding: 8px 26px 8px 26px;
  color: #fff;
  background: #29176e;
  border-radius: 0 50px 50px 0;
  position: relative;
  z-index: 4;
}

/*--------------------------------------------------------------
# Admission Counselling
--------------------------------------------------------------*/
#admission-page-hero {
  width: 100%;
  height: 60vh;
  background: url("../img/hero-bg.jpg") center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 0;
  margin-bottom: -200px;
}
#admission-page-hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#admission-page-hero .container {
  z-index: 2;
}

.addmission-counselling {
  padding: 0 0 30px 0;
  position: relative;
  z-index: 3;
}
.addmission-counselling .content {
  padding: 30px;
  background: #29176edb;
  border-radius: 4px;
  color: #fff;
}
.addmission-counselling .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}
.addmission-counselling .content p {
  margin-bottom: 30px;
}

.addmission-counselling .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}
.addmission-counselling .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}
.private-school-counselling h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.university-school-counselling h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.graduate-admission h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.addmission-counselling .icon-boxes .icon-box p {
  font-size: 15px;
  color: #716f6f;
}
.addmission-counselling .icon-boxes .icon-box img {
  width: 100%;
  margin-bottom: 15px;
  min-height: auto;
}
.university-list .video-box {
  background: url("../img/admission/building.jpg") center center no-repeat;
  background-size: cover;
  min-height: 500px;
  filter: contrast(0.7)
}
.university-list .bg-color{
  background-color: #29176e;
  border-radius: 5px 5px;
}
.university-list {
  color: #fff;
}
.university-list ul li {
  font-size: 12px;
}
.graduate-admission .icon-box {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
  width: 100%;
}


/*--------------------------------------------------------------
# Communication Arts
--------------------------------------------------------------*/
.portfolio {
  padding-top: 20px;
}
.portfolio .portfolio-item {
  margin-bottom: 30px;
}
.portfolio h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}

.ourCourses .icon-box {
  padding: 50px 20px;
  margin-top: 35px;
  margin-bottom: 25px;
  text-align: center;
  position: relative;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.ourCourses .icon {
  position: absolute;
  top: -36px;
  left: calc(50% - 36px);
  transition: 0.2s;
  border-radius: 50%;
  border: 6px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 72px;
  height: 72px;
  background: #29176e;
}
.ourCourses .icon i {
  color: #fff;
  font-size: 24px;
  line-height: 0;
}
.ourCourses .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}
.ourCourses .icon-box:hover .icon {
  background: #fff;
  border: 2px solid #29176e;
}
.ourCourses .icon-box:hover .icon i {
  color: #29176e;
}
.communicationArts .bg-img {
  background: url('../img/portfolio/p-9.jpg') no-repeat;
  background-size: cover;
  min-height: 250px;
  filter: opacity(0.9);
  border-radius: 5px;
}
.communicationArts .justify-content-center .list {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  border-radius: 3px;
}
.communicationArts h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.certificate-and-diploma h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.certificate-and-diploma .description {
  padding-left: 20px;
}
.public-speaking h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.public-speaking .content {
  padding: 30px;
  background: #29176edb;
  border-radius: 4px;
  color: #fff;
}
.certificate-and-diploma-grant h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.interview-skills-program h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.youth-lead-program h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.international-relations h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.awards-and-honor h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.speech-competitions-festivals h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #242424;
  font-size: 14px;
  background: #c5c5c5;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #edecec;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #313030;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #f6c300;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #656262;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #29176e;
}

/*--------------------------------------------------------------
# Competitive Debate Programs
--------------------------------------------------------------*/
#debate-programs-page-hero {
  width: 100%;
  height: 60vh;
  background: url("../img/hero/hero-2.jpg") center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  padding: 0;
  margin-bottom: -200px;
}
#debate-programs-page-hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.debate-programs-sub-title {
  position: absolute; 
  z-index: 1; 
  top: 48%; 
  left: 50%; 
  transform: translate(-50%, -50%);
}
.competitive-debate-programs {
  padding: 0 0 30px 0;
  position: relative;
  z-index: 3;  
}

.competitive-debate-programs .content {
  padding: 30px;
  background: #29176edb;
  border-radius: 4px;
  color: #fff;
}
.why-learn-to-debate h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.why-learn-with-us h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.our-program-structure h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.academy-and-harvard-debate-council h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.academy-and-harvard-debate-council .content {
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  padding: 16px 15px;
}
.harvard-debate-council-program h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.competitive-debate-opus h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.speech-and-debate-transform h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}

/*--------------------------------------------------------------
# Academic Enrichment
--------------------------------------------------------------*/
.why-learn-to-debate h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.academic-subject-tutoring h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.early-learning h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.early-learning .icon-boxes .icon-box {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 15px rgb(0 0 0/ 10%);
  padding: 40px 30px;
  width: 100%;
}

.crw_img{
  background: url("../img/academic-enrichment/crw.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.academic-subject-tutoring .tutor-img {
  z-index: 1;
  padding: 0;
  margin-bottom: -120px;
}
.academic-subject-tutoring .content {
  position: relative;
  padding: 30px;
  background: #29176edb;
  border-radius: 4px;
  color: #fff;
}

/*--------------------------------------------------------------
# Classical Music Program
--------------------------------------------------------------*/
.music-program h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.music-studies h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.course-include h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.additional-learning-opportunities h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.application-procedure h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}

/*--------------------------------------------------------------
# Test Preparation
--------------------------------------------------------------*/
.standard-test-preparation .content {
  position: relative;
  padding: 30px;
  background: #29176edb;
  border-radius: 4px;
  color: #fff;
}

/*--------------------------------------------------------------
# McGraw Hill Education Courses Programs
--------------------------------------------------------------*/
.academic-enrichment h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.mcGraw-hill-education h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.redbird-mathematics h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.redbird-mathematics .list {
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
  border-radius: 3px;
}
.redbird-language h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.assesment-and-learning h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.academic-enrichment .icon-boxes .icon-box {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 5px 15px rgb(0 0 0/ 10%);
  padding: 25px 30px;
  width: 100%;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.communication-arts-speech h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.public-debate h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.interview-course h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.university-admission h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.private-school-counselling h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.standart-test-preparation h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.early-learners h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.general h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.parent-testimonials h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.interview-skill-courses h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.ap-courses h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}
.summer-camps h4 {
  border-left: 5px solid #29176e;
  padding-left: 10px;
}

.testimonials-page-section .icon-boxes .icon-box {
  /* border-radius: 10px; */
  background: #fff;
  box-shadow: 0px 2px 20px rgb(0 0 0/ 10%);
  padding: 25px 30px;
  width: 100%;
}
.sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #473d3a;
  position: relative;
}
.sidebar .categories ul {
  list-style: none;
  padding: 0;
}

.sidebar .categories ul li + li {
  padding-top: 15px;
}

.test .row {
  background: #f8f9fa;
  margin-top: 30px;
  padding: 20px 0;
}

.test .col {
  border: solid 1px #6c757d;
}

.test .fixed-sidebar {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: sticky;
  height: 300px;
  padding: 30px 0;
  background: #555;
  color: #fff;
  top: 10px;
  bottom: auto;
}

.test .blog-entry-content {
  padding: 0 20px;
}
.testimonial-content {
  height: 620px; 
  overflow-y: auto; 
  padding: 15px;
}

@media screen and (max-width: 1024px) {
    /*--------------------------------------------------------------
    # General
    --------------------------------------------------------------*/
  .py-5 {
    padding-right: 2rem!important;
    padding-left: 2rem!important;
  }
  .px-lg-5 {
    padding-right: 2rem!important;
    padding-left: 2rem!important;
  }
  #topbar .contact-info i a, #topbar .contact-info i span {
    font-size: 12px;
  }
  .navbar a, .navbar a:focus {
    font-size: 10px;
    padding: 10px 0 10px 20px;
  }
  #header .logo img {
    max-height: 50px;
  }
  .banner-wrap .inner {
    text-align: center;
  }
  .banner-wrap .inner .text-content h3 {
    font-size: calc(1rem + .6vw);
  }
  .banner-wrap .text-content {
    position: relative;
    transform: translate(23%, -200%);
    left: 0px;
    text-align: center;
  }
  .banner-wrap .btn-get-started {
    font-size: 15px;
    border-radius: 25px 25px 25px 25px;
  }
  .banner-wrap .inner .text-content .d-flex{
    justify-content: center;
  }
  div.icon-box h5 {
    font-size: 15px;
  }
  .academic-subject-tutoring .tutor-img {
    width: 100%;
  }
  section .competitive-debate-programs, div .container {
    width: 100% !important;
    max-width: 100% !important;
  }
  section.university-list, .table-bordered, tbody, tr, td {
    font-size: 12px;
  }
  section.addmission-counselling .icon-boxes .align-items-stretch {
    display: flex !important;
    align-items: stretch !important;
  }
  section.team, .align-items-stretch {
    display: block !important;
  }
  section.careers .info-box h5 {
    font-size: 15px;
  }
  .careers .info-box i {
    font-size: 25px;
  }
  div.footer-top, .row {
    padding-left: 20px;
    padding-right: 20px;
  }
}


@media screen and (max-width: 768px) {
  .banner-wrap .text-content {
    transform: translate(4%, -200%);
  }
  .swiper-button-next, .swiper-button-prev {
    width: calc(var(--swiper-navigation-size)/ 44 * 0);
  }
  .swiper-button-prev {
    left: -15px;
  }
  .swiper-button-next {
    right: -15px;
  }
  :root {
    --swiper-navigation-size: 35px !important;
  }
  #topbar .contact-info i a, #topbar .contact-info i span {
    font-size: 11px;
  }
  .navbar a, .navbar a:focus {
    font-size: 14px;
    padding: 10px 0 10px 30px;
  }
  .navbar a i, .navbar a:focus i {
    margin-right: 25px;
  }
  .px-lg-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
  }
  #footer .footer-top {
    padding: 55px 0 30px 0;
  }
  #footer .footer-top .footer-contact p img {
    width: 95%;
  }
  section.our-program-structure h5 .row,
  section.university-school-counselling .row{
    --bs-gutter-x: -13.5rem !important;
  }
  section.standard-test-preparation .row {
    --bs-gutter-x: -13.5rem !important;
    --bs-gutter-y: 1.5rem !important;
  }
  section.team .member-img img.img-fluid {
    width: 90% !important;
  }
  section.team div img {
    width: 45% !important;
    margin: 0 1% !important;
  }
  .swiper-wrapper .swiper-slide .banner-wrap {
    max-height: 40vh;
  }
  .about .video-box {
    min-height: 325px;
  }
}

@media screen and (max-width: 425px) {
  .m-4{
    margin: 0rem !important;
  }
  section.communicationArts, .certificate-and-diploma, .public-speaking, .certificate-and-diploma-grant, .interview-skills-program, .youth-lead-program, .international-relations, .awards-and-honor,  .container {
    padding-left: 5%;
    padding-right: 5%;
  }
  .banner-wrap .text-content {
    transform: translate(0%, -200%);
  }
  :root {
    --swiper-navigation-size: 25px !important;
  }
  .swiper-button-next {
    right: -25px;
  }
  .swiper-button-prev {
    left: -25px;
  }
  .about .icon-box .icon {
    width: 55px;
    height: 55px;
  }
  .testimonials {
    padding: 60px 0 !important;
  }
  .testimonials .testimonial-item p {
    font-size: 14px;
  }
  section.portfolio .portfolio-item img.mb-5{
    margin-bottom: 2rem !important;
  }
  div.footer-top, .row{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  #footer .text-lg-center .copyright {
    text-align: left !important;
  }
  section.our-program-structure h5 .row,
  section.university-school-counselling .row{
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: -1.5rem !important;
    margin-top: 10% !important;
  }
  section.standard-test-preparation .row {
    --bs-gutter-x: 0 !important;
    --bs-gutter-y: 1.5rem !important;
  }
  section.academic-subject-tutoring .row {
    --bs-gutter-x: -2.5rem !important;
    --bs-gutter-y: 0.5rem !important;
    margin-top: 10% !important;
  }
  .university-list .video-box {
    display: none !important;
  }
  section.university-admission ol, ul {
    padding-left: 0;
    margin-bottom: 2rem;
  }
  section.team .icon-boxes .icon-box {
    padding: 40px;
  }
  section.testimonials-page-section #sidebar {
    margin-top: 35px;
  }
  #admission-page-hero, #debate-programs-page-hero {
    height: 45vh;
  }
  .swiper-wrapper .swiper-slide .banner-wrap {
    max-height: 40vh;
  }
  section.team img {
    float: none;
    margin: 0 !important;
  }
  .about .video-box {
    min-height: 200px;
  }
  .navbar-mobile ul {
    height: 410px;
  }
  .navbar-mobile .dropdown > .dropdown-active {
    height: auto;
  }
  #main img {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
  section {
    padding: 45px 0;
  }
}

@media screen and (max-width: 375px) {
  .swiper-button-prev {
    left: -30px;
  }
  .swiper-button-next {
    right: -30px;
  }
  .banner-wrap .inner .text-content h3 {
    font-size: 15px;
  }
  .navbar-mobile ul {
    height: 410px; 
  }
  .navbar-mobile .dropdown > .dropdown-active {
    height: auto;
  }
  section.breadcrumbs {
    margin-top: 0;
    margin-bottom: 20px;
  }
  section {
    padding: 30px 0 !important;
  }
  section.public-speaking .content, .competitive-debate-programs .content {
    padding: 20px !important;
  }
  #footer .footer-top .footer-contact p img {
    margin: 3%;
  }
  .testimonials {
    padding: 20px 0 !important
  }
  #main img {
    width: 100% !important;
    margin-bottom: 20px !important;
  }
  section.breadcrumbs {
    padding: 20px 0 !important;
  }
  .breadcrumbs h2 {
    font-size: 19px;
  }
  .addmission-counselling .content h3 {
    font-size: 30px;
    margin-bottom: 25px;
  }
  .section-title {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .navbar a, .navbar a {
    font-size: 12px;
    padding: 8px 0 15px 19px;
  }
  #main img {
    width: 100% !important;
    /* margin: 0rem !important; */
  }
}